<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Perfil Del Usuario.</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputApellido">Apellido</label>
                        <input type="text" class="form-control" id="inputApellido">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Dirección</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Av.12 de Agosto">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="output@gmail.com">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Ciudad</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Departamento</label>
                        <select id="inputState" class="form-control">
                            <option selected>Elegir...</option>
                            <option>Cundinamarca</option>
                            <option>Antioquia</option>
                            <option>Risaralda</option>
                            <option>Valle del Cauca</option>
                            <option>Caldas</option>
                            <option>Bolivar</option>
                            <option>Magdalena</option>
                            <option>Atlantico</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputcodigo">Codigo Postal</label>
                        <input type="text" class="form-control" id="inputcodigo">
                    </div>
                </div>
                <button type="submit" class="btn btn-red">Guardar</button>
            </form>
        </div>
    </div>
</div>
