<div class="main_slider" style="background-image: url(assets/img/home/banner.jpg);">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h4>Zapatos de mejor calidad y al mejor precio.</h4>
                    <h2>Obten 30% de descuento en la primera compra</h2>
                    <div class="red_button shop_now_button"><a href="#">Compra ahora</a></div>
                </div>
            </div>
        </div>
    </div>
</div>